.button{
	background-color: #eee;
	width: 150px;
	height: 40px;
	color: #000;
	left:0px;
	display: block;
	position: relative;
	text-align: left;
}
.legend {
	float:right;
	display: inline-block;
	position: relative;
	right: 0;
	margin: 10px;
	z-index: -20;
	width: 100px;
	height: 20px;
}

svg { 
	position:fixed;
	z-index: -10;
 }